footer ul {
    display: grid;
    grid-gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}

.container {
    margin-bottom: 1.5rem;
    display: inline-block;
    width: 100%;
}

#replace-list-input,
#file-list,
#file-preview {
    width: 100%;
    display: table;
}

#clear-button {
    float: left;
}

#rename-button {
    float: right;
}

#save-preset-button,
#load-preset-button,
#delete-preset-button,
#rename-button,
#clear-button {
    padding: 0.75rem;
}

table {
    border: 0.2rem solid gray;
    padding: 0.5rem 0 1rem 0;
}

table tr {
    border-bottom: 1px solid black;
}

#input-pattern {
    display: inline-block;
    width: 100%;
}

#list-input-container,
#file-split-left {
    width: 49%;
    float: left;
}

#file-split-right {
    width: 49%;
    float: right;
}

/** input replacer grid
    8 columns
    unlimited rows
    gap of .5rem
*/

.input-replacer-grid {
    display: grid;
    grid-template-columns: 0.5fr 2.5rem 1fr 0.5fr 2.5rem 1fr 5.5rem 3rem;
    grid-template-rows: repeat(auto-fill, 1.5rem);
    grid-auto-rows: 1.5rem;
    grid-gap: 0.5rem;
}

/* inputs full width */
.input-replacer-grid input[type="text"] {
    width: 100%;
}

/* center all */
.input-replacer-grid > div {
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* headers bold */
.input-replacer-grid > div:nth-child(-n+8) {
    font-weight: bold;
}

/** specific **/

#list-switch {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-gap: 1rem;
    margin-bottom: .5rem;
}

table.file-list input {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}

#add-row-button {
    margin-top: 0.5rem;
}
