<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>elec-renamer</title>

    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body>

<main>
    <section id="app">
        <div class="container">
            <label for="input-pattern">Input Pattern</label>
            <input type="text" id="input-pattern" placeholder="Input Pattern" value=""/>
        </div>

        <!-- Before - Not - Search - After - Not - Replace With - Replace all -->

        <div class="container">
            <input-replacer-grid/>
        </div>

        <div class="container">
            <label for="file-extension-filter">File Extension Filter</label>
            <input type="text" id="file-extension-filter" placeholder="File Extension Filter" value=""/>
        </div>

        <div id="file-split" class="container">
            <div id="file-split-left">
                <table class="file-list" id="file-list">
                    <thead>
                    <tr>
                        <th>File List</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>No items</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="file-split-right">
                <table class="file-list" id="file-preview">
                    <thead>
                    <tr>
                        <th>File Preview</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>No items</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container">
            <button type="button" id="clear-button">Clear</button>
            <button type="button" id="rename-button">Rename</button>
        </div>
    </section>
</main>

<script type="module" src="es6://view/assets/js/main.js"></script>

</body>
</html>
